# --- 核心框架與環境 ---
python-dotenv         # 讀取 .env 檔案
pydantic              # 資料格式驗證 (用於 models/schema.py)

# --- 資料庫 ---
pymongo[srv]          # MongoDB 

# --- 資料處理 ---
pandas                # 處理 CSV 讀取、轉置與資料清洗
numpy                 # 數值計算輔助

# --- 大語言模型 (LLM) ---


# --- 向量搜尋---
chromadb              # 向量資料庫

# --- 後端 API (若 main.py 使用 FastAPI) ---
fastapi               # 後端 API 框架
uvicorn               # ASGI 伺服器，執行 FastAPI 用